{% extends 'diary/index.html' %}
{% block title %}Change Password{% endblock title %}



{% block content %}
<br>
{% if messages %}
    <form action="{% url 'change_password' %}" method="post">
    {% csrf_token %}
    {{form}}
      <input type="submit" value="Change Password">
    </form>
    <br>
    {% for message in messages %}
    {{message}}<br>
    {% endfor %}

{% else %}
  <form action="{% url 'change_password' %}" method="post">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Change Password">
  </form>
{% endif %}
{% endblock content %}