{% extends 'diary/index.html' %}
{% block title %}Dashboard{% endblock %}

{% block content %}<br>
  {% if messages %}
    {% for message in messages %}
      {{message}}!<br>
    {% endfor %}
  {% endif %}
  {% for item in user %}
    {{item.username}}<br>
  {% endfor %}
  {% for item in profile %}
    <img src="{{item.pfp.url}}" alt="profile picture" width="50" height="50" /><br>
    Age: {{item.age}}<br>
  {% endfor %}
  {% for item in user %}
    {{item.email}}<br>
  {% endfor %}
  {% for item in profile %}
    {{item.bio}}<br>
  {% endfor %}
  <a href="{% url 'update_dashboard' %}">Update Dashboard</a><br>
{% endblock content %}